var button = document.querySelector('#button-<%= @group.id %>')
var flash = document.querySelector('.navbar')
var groupIdCards = document.querySelectorAll('#group-id-cards')
var groupCard = document.querySelector('#groups-card')
var groupNameButton = document.querySelector('.group-name-button')
var membersCount = document.querySelector('#group-members-count')
var submitButton = document.querySelector('#submit-button')
var template = `<%= button_to  'Leave Group', group_membership_path(@group, current_user), remote: true,
                    method: :delete, class: 'button is-danger is-light' %>`

var template2 = `<ul class='like-display post-border' id='inserted-card-<%= @user.id %>'>
<div style='display:inline-flex'>
  <%= image_tag user_avatar(@user, 50), id: 'like-gravatar' %>
  <span>
    <%= link_to @user.name, user_path(@user), class: 'like-underline' %>   
  </span>
</div>
<span style='display:flex'>
  <% if !@group.nil? && current_user == @group.owner && !@user.memberships.find_by(group_id: @group.id).admin %>
    <%= button_to 'Make Admin', make_admin_group_membership_path(@group.id, @user.id), method: :patch,
        class: 'button is-small' %>
  <% end %>
</span>
</ul>`

var template3 = ` <div class='group-name-button'>
<h3 class="title is-3 mb-0"><%= @group.name %></h3>
<% if !current_user.groups.include?(@group) %>
  <%= button_to  "Join Group", group_memberships_path([@group, current_user]), remote: true, 
          class: 'button is-primary is-light', id: "group-join-button" %>
<% elsif current_user == @group.owner %>
  <div style='position:relative'>
    <i class="accordion fa fa-ellipsis-h" style='font-size:20px;cursor:pointer;float:right'></i>
    <div class='panel' style='position:absolute;right:20px;'>
      <%= button_to  "Delete Group", group_path(@group), 
              method: :delete, class: 'button is-danger is-light' %>
    </div>
  </div>
<% else %>
  <div style='position:relative'>
    <i class="accordion fa fa-ellipsis-h" style='font-size:20px;cursor:pointer;float:right'></i>
    <div class='panel' style='position:absolute;right:20px;'>
      <%= button_to  "Leave Group", group_membership_path(@group, current_user), remote: true,
              method: :delete, class: 'button is-danger is-light' %>
    </div>
  </div>
<% end %>
</div>`

if (groupNameButton) {
  groupNameButton.insertAdjacentHTML('afterend', template3)
  groupNameButton.remove()

  groupCard.insertAdjacentHTML('afterbegin', template2)
  var insertedCard = document.querySelector('#inserted-card-<%= @user.id %>')
  console.log(insertedCard)
  if (groupCard.querySelectorAll('*').length <= 6){
    insertedCard.style.borderBottom = 'none'
  }

  if (groupIdCards.length >= 1){
    groupIdCards[0].remove()
  }

  membersCount.innerHTML = '<%= @group.users.size %> <%= member_or_members(@group) %>'

  submitButton.value = 'Post'
  submitButton.disabled = false
}

flash.insertAdjacentHTML('afterend', "<%= j render 'shared/flash' %>")

setTimeout(() => {
  (document.querySelectorAll('.odin-test .notification') || []).forEach(($delete) => {
    let $notification = $delete.parentNode;
  
    $delete.addEventListener('click', () => {
      $notification.classList.add('hide-flash');
    });
  });
}, 50);


var allFlash = document.querySelectorAll('.odin-test')
allFlash.forEach(element => {
  if (allFlash.length > 1){
    allFlash[1].remove()
  }
});


let acc7 = document.getElementsByClassName("accordion");
let panel7 = document.getElementsByClassName('panel');

for (let i = 0; i < acc7.length; i++) {
  acc7[i].onclick = function () {
    let setClasses = !this.classList.contains('active');
    setClass(acc7, 'active', 'remove');
    setClass(panel7, 'show', 'remove');

    if (setClasses) {
      this.classList.toggle("active");
      this.nextElementSibling.classList.toggle("show");
    }
  }
}

function setClass(els, className, fnName) {
  for (let i = 0; i < els.length; i++) {
    els[i].classList[fnName](className);
  }
}