<div class="section">
  <h2 class="title is-2 has-text-centered">Sign Up</h2>
  <div class="columns is-centered">
    <div class="box">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>


      <div class="field">
        <div class="control">
          <%= f.input :name,
                    required: true,
                    wrapper: false,
                    label_html: { class: 'label' },
                    input_html: { class: 'input' } %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :email,
                    required: true,
                    wrapper: false,
                    label_html: { class: 'label' },
                    input_html: { class: 'input' } %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :date_of_birth,
                    required: true,
                    wrapper: false,
                    label_html: { class: 'label' },
                    input_html: { class: 'input' },
                    html5: true %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :password,
                    required: true,
                    wrapper: false,
                    label_html: { class: 'label' },
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { class: 'input' } %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :password_confirmation,
                    required: true,
                    wrapper: false,
                    label_html: { class: 'label' },
                    input_html: { class: 'input' } %>
        </div>
      </div>

      <%= image_tag user_avatar(@user, 100), style: 'border-radius:50%' %>
      <%= f.file_field :avatar %>

      <%= f.button :submit, "Sign up" %>

      <div class="field">
        <%= render "devise/shared/links" %>
      </div>

      <% end %>
    </div>
  </div>
</div>