<div class="columns">
  <div class="column is-one-quarter">
    <div class="section">
    </div>
  </div>
  <div class="column is-one-half">
    <div class="section">
      <div style='height:100%;min-width:100%'>
        <%= image_tag @group.group_photo.variant(resize: '730x500!'), class: 'group-photo-size' %>
      </div>
      <div class="box" style='border-radius: 0 0 10px 10px;'>
        <div class='group-name-button'>
          <h3 class="title is-3 mb-0"><%= @group.name %></h3>
          <% if !current_user.groups.include?(@group) %>
            <%= button_to  "Join Group", group_memberships_path(@group, current_user), 
                    class: 'button is-primary is-light' %>
          <% elsif current_user == @group.owner %>
            <div style='position:relative'>
              <i class="accordion fa fa-ellipsis-h" style='font-size:20px;cursor:pointer;float:right'></i>
              <div class='panel' style='position:absolute;right:20px;'>
                <%= button_to  "Delete Group", group_path(@group), 
                        method: :delete, class: 'button is-danger is-light' %>
              </div>
            </div>
          <% else %>
            <div style='position:relative'>
              <i class="accordion fa fa-ellipsis-h" style='font-size:20px;cursor:pointer;float:right'></i>
              <div class='panel' style='position:absolute;right:20px;'>
                <%= button_to  "Leave Group", group_membership_path(@group, current_user), 
                        method: :delete, class: 'button is-danger is-light' %>
              </div>
            </div>
          <% end %>
        </div>
        <div class='space-between'>
          <p><%= @group.users.count %> <%= member_or_members(@group) %></p>
          <% if @group.users%>
            <p class='accordion2 like-underline'>View Members</p>
          <% end %>
        </div>
        <%= render "/shared/people_card", post: @group.memberships %>
      </div>
      <div class="columns">
        <div class="column is-full">
          <%= render "/shared/post" %>
          <p class='mb-4'></p>
          <%= render "/shared/feed" %>      
        </div>
        <div class="column is-three-quarters">
          <div class="box break-word" style='position:absolute;margin-right:20px;z-index:30'>
            <h3 class="title is-3 mb-1">Group Description</h3>
            <p><%= @group.description %></p>
            <% if find_membership(current_user, @group) %>
              <button class="button is-primary is-light accordion mt-4 mb-3">Edit Group Info</button>
              <div class="panel form-outline" style='position:relative'>
                <%= render "/shared/groups_form" %>
              </div>
            <% end %>
          </div>        
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="section">

    </div>
  </div>
</div>
