<div class="section">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="box">
        <div class='group-name-button'>
          <h3 class="title is-3 mb-0"><%= @group.name %></h3>
          <% if !current_user.groups.include?(@group) %>
            <%= button_to  "Join Group", group_memberships_path(@group, current_user), class: 'button' %>
          <% end %>
        </div>
        <p><%= @group.users.count %> Member</p>
      </div>
      <div class="columns is-mobile">
        <div class="column">
          <%= render "/shared/post" %>
        </div>
        <div class="column">
          <div class="box">
            <h3 class="title is-3">Group Description</h3>
            <p><%= @group.description %></p>
          </div>
        </div>
      </div>
      <div class="column">
        <%= render "/shared/feed" %>
      </div>
    </div>
  </div>
</div> 
