
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :password %>
    <%= f.input :email %>
    <%= image_tag user_avatar(@user, 100), style: 'border-radius:50%' %>
    <%= f.input :avatar, as: :file %>
    <%= f.input :date_of_birth %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
