<div class="box">
  <span style='display:flex;justify-content:center;align-items:center'>
    <%= image_tag user_avatar(@user, 100), style: 'border-radius:50%' %>
  </span>

  <% if @user == current_user && @user.bio.nil? || @user == current_user && @user.bio == '' %>
    <span class='center mt-3 mb-3 accordion like-underline'>
      <b>Add bio</b>
    </span>

    <div class="panel bio-form">
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :bio,
            wrapper: false,
            maxlength: '140',
            id: 'textarea',
            input_html: { style: 'width:200px;height:100px;border-radius:10px;text-align:center;overflow-y:hidden' },
            placeholder: 'Describe yourself',
            label: false %>
        <div>
          <%= f.submit 'Save', class:'button is-dark is-small' %>
          <% end %>
          <div class="button is-small is-dark accordion">Cancel</div>
        </div> 
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <span><b>Name: </b></span><%= @user.name %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <span><b>Email: </b></span><%= @user.email %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <span><b>Birthday: </b></span><%= @user.date_of_birth %>
    </div>
  </div>

  <span>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', posts_path %>
  </span>
</div>