<div class="section">
  <div class="columns is-centered">
    <div class="column is-one-quarter">
      <div class="box">
        <h4 class="title is-4 has-text-centered">About</h4>
      </div>      
    </div>
    <div class="column is-one-quarter">
      <div class="box">
        <h4 class="title is-4 has-text-centered">Profile</h4>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="box">
        <h4 class="title is-4 has-text-centered"><%= @user.friends.size %><%= pluralize(@user.active_friends, 'Friend') %></h4>
      </div>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-one-quarter">
      <div class="box">
        <h5 class="title is-5 mb-2"><%= @user.name.split[0] %>'s bio</h5>
        <p class='mb-4'><%= @user.bio %></p>
        <% if @user == current_user && !@user.bio.nil? %>
          <span class='mt-3 mb-3 accordion like-underline'>
            <b>Edit bio</b>
          </span>
          <div class="panel bio-form" style='display:block'>
            <%= simple_form_for(@user) do |f| %>
              <%= f.input :bio,
                  wrapper: false,
                  maxlength: '140',
                  id: 'textarea',
                  input_html: { style: 'width:200px;height:100px;border-radius:10px;text-align:center;overflow-y:hidden;padding:5px' },
                  placeholder: 'Describe yourself',
                  label: false %>
              <div id="characters">Characters left: 140</div>

              <div>
                <%= f.submit 'Save', class:'button is-dark is-small' %>
                <% end %>
                <div class="button is-small is-dark accordion">Cancel</div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="column is-one-quarter">
      <% if @user != current_user && !@user.pending_friends.include?(current_user) && !current_user.friends.include?(@user) %>
        <%= button_to 'Add Friend', friendships_path(friendships: { user_id: current_user.id, friend_id: @user.id }) %>
      <% end %>
      <% if false %>
        <%= render 'friends_table' %>
      <% end %>
      <%= render 'profile_info' %>
    </div>
    <div class="column is-one-quarter">
      <% if @user == current_user %>
          <button class="button accordion">Friend Requests</button>
          <%= render 'shared/people_card', post: @friendships %>
      <% end %>
    </div>
  </div>
</div>