
<% if @user != current_user %>
  <button class="button is-primary"><%= link_to 'Add Friend', url_for: ('friendships#request') %></button> 
<% end %>
 
 <div class="box">
 <h4 class="title is-4">Friends</h4>
 <%= @user.friends.count %>
 <%= @user.friends.map(&:name) %>
 
 </div>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.date_of_birth %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> 
