<% if comment.has_children? %>
  <% comment.subtree_ids.sort.reverse.each do |c| %>
    <% comment = has_descendants(c) %>
    <% next if !comment.ancestry? %>
    <div class="media mt-0" id='child-comment-<%= comment.id %>'>
    <div class="media-content" style='overflow-wrap:anywhere;'>
      <p style='display:flex'>
        <%= image_tag user_avatar(comment.user, 20), id: 'comment-gravatar' %>
        <small>Posted by <u><%= link_to comment.user.name, user_path(comment.user) %></u> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</small>
      </p>
      <p><%= comment.body %></p>
      <%= render "shared/children-comment-like-bar", comment: comment %>
      <div class="panel6 panel5">
        <%= render '/shared/nested_comment', comment: comment %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>