<% if !post.comments.nil? %>
  <% post.comments.each do |comment| %>
  <% next if comment.has_parent? %>
    <div class="media" id="comment-<%= comment.id %>">
      <div class="media-content" style='overflow-wrap:anywhere;'>
        <p style='display:flex'>
          <%= image_tag user_avatar(comment.user, 20), id: 'comment-gravatar' %>
          <small>Posted by <u><%= link_to comment.user.name, user_path(comment.user) %></u> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</small>
        </p>
        <p><%= comment.body %></p>
        <div style='display:flex;justify-content:space-between;'>
          <span>
            <% if comment.likes.map(&:user).include?(current_user) %>
              <span class='like-underline'>
                <%= link_to unlike_comment_path(comment), method: :delete do %>
                  <i class="fa fa-heart"></i>
                  Unlike
                <% end %> 
              </span>
            <% else %>
              <span class="like-underline">
                <%= link_to like_comment_path(comment), method: :post do %>
                  <i class="fa fa-heart"></i>
                  Like
                <% end %>
              </span>
            <% end %>
            <span class='accordion6'>
              <%= "|" unless comment.likes.count == 0 %>
              <span class='like-underline'>
                <%= comment.likes.count unless comment.likes.count == 0 %>
              </span>
            </span>
          </span>
          <span>
            <% if comment.user == current_user %>
              <%= link_to comment, method: :delete do %>
                <i class='fa fa-trash-o' aria-hidden='true'></i>
              <% end %>
            <span style='position:relative;bottom:2px'>&#8287:&#8287:&#8287</span>
            <% end %>
            <i class="fa fa-reply accordion5 mb-3" aria-hidden='true' style='cursor:pointer;position:relative;bottom:-2px;'></i>
          </span>
        </div>
        <%= render '/shared/people_card', post: comment.likes %>
        <div class="panel5">
          <%= render '/shared/nested_comment', class: 'nested-comment', comment: comment %>
        </div>
        <div class="comment-child" style='margin-left:30px'>
          <%= render '/shared/children_comments', comment: comment %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

