<% if !post.comments.nil? %>
  <% post.comments.each do |comment| %>
  <% next if comment.has_parent? %>
    <div class="media" id="comment-<%= comment.id %>">
      <div class="media-content" style='overflow-wrap:anywhere;'>
        <p style='display:flex'>
          <%= image_tag user_avatar(comment.user, 20), id: 'comment-gravatar' %>
          <small>Posted by <u><%= link_to comment.user.name, user_path(comment.user) %></u> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</small>
        </p>
        <p><%= comment.body %></p>
        <%= render "shared/comment-like-bar", comment: comment %>
        <div class="panel5 panel9">
          <%= render '/shared/nested_comment', class: 'nested-comment', comment: comment %>
        </div>
        <div class="comment-child">
          <%= render '/shared/children_comments', comment: comment %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

