<div class="box box-<%= post.id %>" id="post-feed" style='position:relative;'>
  <% if post.user == current_user %>
    <i class="accordion fa fa-ellipsis-h" style='float:right;font-size:20px;cursor:pointer'></i>
  <% end %>
  <% if current_user == post.user && user_signed_in? %>
    <div class="panel box" style='right:35px;padding:2px;margin-bottom:0px;z-index:3'>
      <%= link_to post_path(post), remote: true, method: :delete do %>
        <div class='option-icons'><span><span class="icon"><i class='fa fa-trash-o' aria-hidden='true'></i></span>Delete this post</span></div>
      <% end %>
      <div class='option-icons accordion2'><span><span class="icon"><i class='fa fa-pencil' aria-hidden='true'></i></span>Edit this post</span></div>
    </div>
    <%= render "shared/edit" %>
  <% end %>
  <p class='mb-3' style='display:flex'>
    <%= image_tag user_avatar(post.user, 40), style:'border-radius:50%', class: 'mr-1' %>
    <small style='margin-top:auto; margin-bottom:auto'>
      Posted by <u><%= link_to post.user.name, user_path(post.user) %></u> <%= distance_of_time_in_words(post.created_at, Time.now) %> ago
    </small>
  </p>
  <% post.images.each do |image| %>
    <%= image_tag(image, size: '250x250') %>
  <% end %>
  <p class='post-border' id="like-<%= post.id %>"><%= post.body %></p>
  <%= render "shared/like-bar", post: post %>
  <div class="panel2 panel3" id='comment-input-<%= post.id %>' style='box-shadow:none;margin-top:10px;position:relative'>
    <%= render '/shared/form', post: post, comment: @comment %>
    <%= render '/shared/comment', post: post %>
  </div>
</div>