  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h2 class="title is-2" style='color:#4a4e69'>FakeBook</h2>
      </div>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" style='color:black'>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id='navMenu'>
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <% if user_signed_in? %>
        <div class="navbar-item">
          <% if current_user.pending_friends.any? %>
            <p style='color:red'><%= link_to 'Pending Friends', user_path(current_user), style:'color:red' %></p>
          <% end %>
          <% if received_not_active_friends(current_user).any? %>
            <div class="navbar-item">
              <p style='color:red'><%= link_to 'Received Friends', user_path(current_user), style:'color:red' %></p>
            </div>
          <% end %>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            <%= image_tag user_avatar(current_user, 25), style:'border-radius:50%' %><h4 class="title is-4 ml-4" style='color:#4a4e69'><%= current_user.name %></h4>
          </div>
          <div class="navbar-dropdown">
            <div href="" class="navbar-item">
              <h5 class="title is-5"><%= link_to 'Home', posts_path %></h5>
            </div>
            <div class="navbar-item">
              <h5 class="title is-5"><%= link_to 'Profile', user_path(current_user) %></h5>
            </div>
            <div class="navbar-divider"></div>
            <div href="" class="navbar-item">
              <h5 class="button is-primary is-light" style='border:1px solid'><%= link_to 'Logout', destroy_user_session_path, method: :delete %></h5>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>