<div class="card like panel2 panel6 panel7" style='position:relative'>
  <div class="card-header">
    <p class="card-header-title" style='display:flex; justify-content:space-between'>
      <%= post == @group.memberships ? 'Members' : 'Likes' %>
      <button class="delete accordion accordion2 accordion6 accordion7"></button>
    </p>
  </div>
  <div class="card-content" style='border-bottom:1pxdashedlightgray;max-height:250px'>
    <% if post.any? %>
      <% post.each do |like| %>
        <ul class='like-display post-border' style='<%= 'border-bottom:none' if likes_border?(post) %>'>
          <div style='display:inline-flex'>
            <%= image_tag user_avatar(like.user, 50), id: 'like-gravatar' %>
            <span>
              <%= link_to like.user.name, user_path(like.user), class: 'like-underline' %>            
            </span> 
          </div>
          <% if check_if_friends?(like) %>
            <span style='display:flex'>        
              <%= button_to 'Already Friends', friendships_path(friendships: { user_id: current_user.id, friend_id: like.user.id }),
                  method: :post, class: 'button is-danger is-small is-inverted', disabled: 'true' %>
            </span>
          <% elsif like.user != current_user && !like.user.friendships.include?(current_user) %>
            <span style='display:flex'>
              <%= button_to 'Add Friend', friendships_path(friendships: { user_id: current_user.id, friend_id: like.user.id }),
                  method: :post, class: 'button is-primary is-small is-light is-outlined' %>
            </span>
          <% end %>
          <% if current_user == @group.owner && !like.user.memberships.find_by(group_id: @group.id).admin %>
            <%= button_to 'Make Admin', make_admin_group_membership_path(@group.id, like.user.id), method: :patch,
                class: 'button is-small' %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>