<div class="card">
  <div class="card-header">
    <p class="card-header-title" style='display:flex; justify-content:space-between'>
      Create a Post <%= "in #{@group.name}" if @group.name %>
      <button class="delete" id='delete' onclick="enlarge()"></button>
    </p>
  </div>
  <div class="card-content">
    <div style='display:flex'>
      <%= image_tag user_avatar(current_user, 50), style: 'border-radius:50%; align-self:self-start;' %>
      <%= simple_form_for(@post) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.hidden_field :group_id, value: @group.id %>


        <div class="field">
          <div class="control">
            <%= f.input :body,
                wrapper: false,
                label: false,
                input_html: { class: 'input', id: 'input-style', onclick: 'enlarge()' },
                placeholder: "What's on your mind?" %>
          </div>
        </div>
      </div>

      <% if current_user.groups.include?(@group) || !@group.id %>
        <%= f.submit 'Post',
            class: 'button',
            id: 'post-submit' %>
      <% else %>
        <%= f.submit "You must join #{@group.name} to post here",
            class: 'button',
            id: 'post-submit',
            disabled: 'true' %>
      <% end %>

    <% end %>
  </div>
</div>