<div class="card">
  <div class="card-header">
    <p class="card-header-title" style='display:flex; justify-content:space-between'>
      Create a Post <%= "in #{@group.name}" if @group.name %>
      <div style='display:flex'>
        <div class='mr-2' style='display:flex;margin:auto'>
          <i class="fa fa-image" style='background:beige'></i>
          <div class='form-wrapper'>
            <%= simple_form_for(@post) do |f| %>
              <%= f.file_field :images, multiple: true,
                  wrapper: false,
                  label: false %>
          </div>
        </div>
      </div>
    </p>
  </div>
  <div class="card-content">
    <div style='display:flex'>
      <%= image_tag user_avatar(current_user, 50), style: 'border-radius:50%;align-self:self-start;' %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.hidden_field :group_id, value: @group.id %>

        <div class="field" style='width:100%;height:200px'>
          <div class="control">
            <%= f.input :body,
                wrapper: false,
                label: false,
                input_html: { class: 'input', id: 'input-style' },
                placeholder: "What's on your mind?" %>
          </div>
        </div>
      </div>

      <% if current_user.groups.include?(@group) || !@group.id %>
        <%= f.submit 'Post',
            class: 'button',
            id: 'submit-button' %>
      <% else %>
        <%= f.submit "You must join #{@group.name} to post here",
            class: 'button',
            input_html: { style: 'display:block;width:100%' },
            disabled: 'true',
            id: 'submit-button' %>
      <% end %>

    <% end %>
  </div>
</div>