var friend = document.querySelector('#friendship-<%= User.find(Friendship.last.friend_id).id %>')
var friendPanel = document.querySelector('#friends-card')
var button = document.querySelectorAll('#button-<%= User.find(Friendship.last.friend_id).id %>')
var userFriendsTab = document.querySelector('#user-friends-tab')
var badge = document.querySelector('.badge')
var userCard = document.querySelector('#user-<%= Friendship.last.friend_id %>-card')
var flash = document.querySelector('.navbar')

if(userCard){
  userCard.insertAdjacentHTML('afterend', "<button class='button is-danger is-small is-inverted', disabled='true'>Pending</button>")
  userCard.remove()
}
console.log(userCard)
if (userFriendsTab){
  userFriendsTab.innerHTML = '<%= current_user.friends.size + 1 %> Friends'
}
if (friendPanel){
  friendPanel.insertAdjacentElement("afterbegin", friend)
} else {
  button.forEach(element => {
    element.insertAdjacentHTML('afterend', "<button class='button is-danger is-small is-inverted', disabled='true'>Pending</button>")
  });
}
window.elements = badge
if (badge !== null){
  badge.innerHTML = '<%= received_not_active_friends(current_user).size - 1  %>'
}
button.forEach(element => {
  element.remove()
});
 
flash.insertAdjacentHTML('afterend', "<%= j render 'shared/flash' %>")

setTimeout(() => {
  (document.querySelectorAll('.odin-test .notification') || []).forEach(($delete) => {
    var $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.classList.add('hide-flash');
    });
  });
}, 50);

var allFlash = document.querySelectorAll('.odin-test')
allFlash.forEach(element => {
  if (allFlash.length > 1){
    allFlash[1].remove()
  }
});