<div class="fader">
  <% @posts.each do |post| %>
  <div class="box" id='post-feed' onclick="postEnlarge(this)" style='transition:.3s'>
    <% if !post.title.nil? %>
    <h4 class="title is-4 mb-2"><%= post.title %></h4>
    <% end %>
    <p class='mb-3' style='display:flex'>
      <%= image_tag  user_avatar(post.user, 40), style:'border-radius:50%', class: 'mr-1' %>
      <small style='margin-top:auto; margin-bottom:auto'>
        Posted by <u><%= link_to post.user.username, user_path(post.user) %></u> <%= distance_of_time_in_words(post.created_at, Time.now) %> ago
      </small>
    </p>
    <p><%= post.body %></p>

  <nav class='level'>
    <div class="level-left is-mobile">
      <% if user_signed_in? && current_user == post.user %>
      <%= link_to post, class: 'level-item' do %>
      <span class="icon"><i class='fa fa-link' aria-hidden='true'></i></span>
      <% end %>
      <%= link_to edit_post_path(post), class:'level-item' do %>
      <span class="icon"><i class='fa fa-pencil' aria-hidden='true'></i></span>
      <% end %>
      <%= link_to post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } do %>
      <span class="icon"><i class='fa fa-trash-o' aria-hidden='true'></i></span>
      <% end %>
      <% end %>
    </div>
  </nav>
    </div>
  <% end %>
</div>