<div class="fader">
  <% @posts.each_with_index do |post, i| %>
  <div class="box <%= post.id %>" id='post-feed' style='position:relative;'>
    <i class="accordion fa fa-ellipsis-h" style='float:right;font-size:20px;cursor:pointer'></i>
    <% if current_user == post.user && user_signed_in? %>
      <div class="panel box" style='right:35px;;padding:2px;margin-bottom:0px'>
        <%= link_to post_path(post), method: :delete do %>
          <div class='option-icons'><span><span class="icon"><i class='fa fa-trash-o' aria-hidden='true'></i></span>Delete this post</span></div>
        <% end %>
        <%= link_to edit_post_path(post) do %>
          <div class='option-icons'><span><span class="icon"><i class='fa fa-pencil' aria-hidden='true'></i></span>Edit this post</span></div>
        <% end %>
      </div>
    <% end %>
    
    <% if !post.title.nil? %>
      <h4 class="title is-4 mb-2"><%= post.title %></h4>
    <% end %>
    <p class='mb-3' style='display:flex'>
      <%= image_tag  user_avatar(post.user, 40), style:'border-radius:50%;max-height:40px;max-width:40px', class: 'mr-1' %>
      <small style='margin-top:auto; margin-bottom:auto'>
        Posted by <u><%= link_to post.user.username, user_path(post.user) %></u> <%= distance_of_time_in_words(post.created_at, Time.now) %> ago
      </small>
    </p>
    <p class='post-border'><%= post.body %></p>
    <button class='button' id='like-comment'><i class="fa fa-heart mr-2"></i>Like</button><button class="accordion button" id='like-comment'><i class="fa fa-comments mr-2"></i>Comment</button>
    <div class="panel" style='box-shadow:none;margin-top:10px;position:relative'>
      <%= render 'form', post: post %>
      <%= render 'comment', post: post %>
    </div>
  </div>
  <% end %>
</div>