<div class="fader">
  <% @posts.each_with_index do |post, i| %>
  <div class="box <%= post.id %>" id='post-feed' style='position:relative;'>
    <i class="accordion fa fa-ellipsis-h" style='float:right;font-size:20px;cursor:pointer'></i>
    <% if current_user == post.user && user_signed_in? %>
      <div class="panel box" style='right:35px;;padding:2px;margin-bottom:0px'>
        <%= link_to post_path(post), method: :delete do %>
          <div class='option-icons'><span><span class="icon"><i class='fa fa-trash-o' aria-hidden='true'></i></span>Delete this post</span></div>
        <% end %>
        <%= link_to edit_post_path(post) do %>
          <div class='option-icons'><span><span class="icon"><i class='fa fa-pencil' aria-hidden='true'></i></span>Edit this post</span></div>
        <% end %>
      </div>
    <% end %>
    
    <% if post.title %>
      <h4 class="title is-4 mb-2"><%= post.title %></h4>
    <% end %>
    <p class='mb-3' style='display:flex'>
      <%= image_tag  user_avatar(post.user, 40), style:'border-radius:50%;max-height:40px;max-width:40px', class: 'mr-1' %>
      <small style='margin-top:auto; margin-bottom:auto'>
        Posted by <u><%= link_to post.user.username, user_path(post.user) %></u> <%= distance_of_time_in_words(post.created_at, Time.now) %> ago
      </small>
    </p>
    <p class='post-border'><%= post.body %></p>
    <% if post.likes.any? || post.comments.any? %>
      <div class="post-border" style='display:flex;justify-content:space-between'>
        <span class='full-likes' onclick="showLikes(this)">
          <% if post.likes.map(&:user).include?(current_user) %>
            <%= "ðŸ‘ " %>
            <span class='like-underline'>
              <%= 'You ' + and_others(post.likes) if post.likes.any? %>
            </span> 
          <% else %>
            <%= 'ðŸ‘ ' if post.likes.any? %>
            <span class="like-underline">
              <%= post.likes.count if post.likes.any? %>
              <%=" #{people_or_person(post.likes)} liked this post" if post.likes.any? %>
            </span>
          <% end %>
        </span>
        <div class="card like">
          <div class="card-header">
            <p class="card-header-title" style='display:flex; justify-content:space-between'>
              Likes
              <button class="delete" onclick="hideLikes(this)"></button>
            </p>
          </div>
          <div class="card-content">
            <% if post.likes.any? %>
              <% post.likes.each do |like| %>
                <ul class='like-display'>
                  <span>
                    <%= link_to like.user.name %>            
                  </span> 
                  <% if like.user != current_user && !like.user.friendships.include?(current_user) %>
                    <span>
                      <%= button_to 'Add Friend', class: 'button is-primary' %>
                    </span>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </div>
        </div>
        <span class='short-likes like-underline'>
          <%= 'ðŸ‘ ' if post.likes.any? %><%= post.likes.count if post.likes.any? %><%=" #{like_or_likes(post.likes)}" if post.likes.any? %>
        </span>
        <span class='full-comments'>
          <%= post.comments.count if post.comments.any? %><%= " #{comment_or_comments(post.comments)}" if post.comments.any? %><%= ' ðŸ’¬' if post.comments.any? %>
        </span>
      </div>
    <% end %>
    <% if post.likes.map(&:user).include?(current_user) %>
      <%= link_to unlike_post_path(post), method: :delete do %>
        <button class="button post<%= post.id %>" id='like-comment'><i class="fa fa-heart"></i>&#8287Like</button><button class="accordion button" id='like-comment'>
      <% end %>
    <% else %>
      <%= link_to like_post_path(post), method: :post do %>
        <button class='button post<%= post.id %>' id='like-comment'><i class="fa fa-heart"></i>&#8287Like</button><button class="accordion button" id='like-comment'>
      <% end %>
    <% end %>
    <i class="fa fa-comments mr-2"></i>Comment</button>
    <div class="panel" style='box-shadow:none;margin-top:10px;position:relative'>
      <%= render 'form', post: post %>
      <%= render 'comment', post: post %>
    </div>
  </div>
  <% end %>
</div>