
<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style='width:100%'>
    <%= f.input :body,
    wrapper: false,
    input_html: { style: 'resize:none; width:100%' },
    label: false %>
  </div>

  <%= f.hidden_field :post_id, value: post.id %>

  <div class="form-actions">
    <%= f.button :submit,
    class: 'button is-primary is-small' %>
  </div>
<% end %>
