<div class="columns is-centered m-0">
  <div class="column is-one-quarter-desktop groups-column">
    <div class="section" style='position:sticky;top:0px'>
      <%= render 'groups' %>
    </div>
  </div>
  <div class="column is-one-third-fullhd is-two-fifths-desktop">
    <div class="section pt-2">
      <%= render "sidebar-left" %>
      <%= render "shared/mobile-buttons" %>
      <%= render '/shared/post' %>
      <p class='mb-6'></p>
      <%= render '/shared/feed', class: 'feed' %>
    </div>
  </div>
  <div class="column is-one-third suggestion-column">
    <div class="section" style='position:sticky;top:-150px'>
      <%= render 'suggestions' %>
    </div>
  </div>
</div>