var like = document.querySelector("#like-<%= @post.id %>")
var buttons = document.querySelector("#buttons-<%= @post.id %>")

buttons.remove()

var template =  `<% if @post.likes.any? || @post.comments.any? %>
<div class="post-border" id="border-<%= @post.id %>" style='display:flex;justify-content:space-between'>
  <span class="full-likes accordion2">
    <% if @post.likes.map(&:user).include?(current_user) %>
      <%= "ðŸ‘ " %>
      <span class='like-underline'>
        <%= 'You ' + and_others(@post.likes) if @post.likes.any? %>
      </span>
    <% else %>
      <%= 'ðŸ‘ ' if @post.likes.any? %>
      <span class="like-underline">
        <%= @post.likes.size if @post.likes.any? %>
        <%=" #{people_or_person(@post.likes)} liked this post" if @post.likes.any? %>
      </span>
    <% end %>
  </span>
  <span class='full-comments like-underline accordion3'>
    <%= @post.comments.size if @post.comments.any? %><%= " #{comment_or_comments(@post.comments)}" if @post.comments.any? %><%= ' ðŸ’¬' if @post.comments.any? %>
  </span>
</div>
<%= render '/shared/people_card', post: @post.likes %>
<% end %>
<div class="multi-buttons" id='buttons-<%= @post.id %>'>
<% if @post.likes.map(&:user).include?(current_user) %>
  <%= link_to unlike_post_path(@post), remote: true, method: :delete do %>
    <button class="likes-<%= @post.id %> button post<%= @post.id %>" id='like-comment'><i class="fa fa-heart"></i>&#8287Unlike</button>
  <% end %>
<% else %>
  <%= link_to like_post_path(@post), remote: true, method: :post do %>
    <button class="likes-<%= @post.id %> button post<%= @post.id %>" id='like-comment'><i class="fa fa-heart"></i>&#8287Like</button>
  <% end %>
<% end %>
<button class="comment-<%= @post.id %> accordion2 button" id='like-comment'><i class="fa fa-comments mr-2" id="commment-<%= @post.id %>"></i>Comment</button>
</div>
`

like.insertAdjacentHTML('afterend', template)

var newButtons = document.querySelector("#buttons-<%= @post.id %>")
var postBorder = document.querySelectorAll('#border-<%= @post.id %>')
var [head, ...tail] = postBorder

if (newButtons.nextElementSibling === head){
  head.nextElementSibling.remove()
  head.remove()
} else if (newButtons.nextElementSibling === tail[0]) {
  tail[0].nextElementSibling.remove()
  tail[0].remove()
}

var acc = document.getElementsByClassName("accordion3");
var panel = document.getElementsByClassName('panel3');

for (var i = 0; i < acc.length; i++) {
  acc[i].onclick = function () {
    var setClasses = !this.classList.contains('active');
    setClass(acc, 'active', 'remove');
    setClass(panel, 'show', 'remove');

    if (setClasses) {
      this.classList.toggle("active");
      this.parentNode.nextElementSibling.nextElementSibling.nextElementSibling.classList.toggle("show");
      console.log(this.parentNode.nextElementSibling.nextElementSibling.nextElementSibling)
    }
  }
}

var acc2 = document.getElementsByClassName("accordion2");
var panel2 = document.getElementsByClassName('panel2');

for (var i = 0; i < acc2.length; i++) {
  acc2[i].onclick = function () {
    var setClasses = !this.classList.contains('active');
    setClass(acc2, 'active', 'remove');
    setClass(panel2, 'show', 'remove');

    if (setClasses) {
      this.classList.toggle("active");
      this.parentNode.nextElementSibling.classList.toggle("show");
    }
  }
}

function setClass(els, className, fnName) {
  for (var i = 0; i < els.length; i++) {
    els[i].classList[fnName](className);
  }
}

