var like = document.querySelector("#like-<%= @post.id %>")
var button = document.querySelector('.button.post<%= @post.id %>')
console.log(like)
button.innerHTML = `<i class="fa fa-heart">&#8287Unlike`
like.insertAdjacentHTML('afterend', template)

var template = `<div class="post-border" style='display:flex;justify-content:space-between'>
    <span class="full-likes accordion2" id='like-<%= @post.id %>'>
      <% if @post.likes.map(&:user).include?(current_user) %>
        <%= "ðŸ‘ " %>
        <span class='like-underline'>
          <%= 'You ' + and_others(@post.likes) if @post.likes.any? %>
        </span>
      <% else %>
        <%= 'ðŸ‘ ' if @post.likes.any? %>
        <span class="like-underline">
          <%= @post.likes.size if @post.likes.any? %>
          <%=" #{people_or_person(@post.likes)} liked this post" if @post.likes.any? %>
        </span>
      <% end %>
    </span>
    <span class='full-comments like-underline accordion3'>
      <%= @post.comments.size if @post.comments.any? %><%= " #{comment_or_comments(@post.comments)}" if @post.comments.any? %><%= ' ðŸ’¬' if @post.comments.any? %>
    </span>
  </div>`

