<!DOCTYPE html>
<html style='background-color:#c9ada7'>

<head>
  <title>FakeBook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="google-site-verification" content="L9W1QbOPNd4DSRpBTVGidMX2fNpl_buOHy_5Zsq-el4" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bulma-social@2/css/single/github/github.min.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class='has-navbar-fixed-bottom' id='html'>
  <%= render '/shared/navbar' %>

  <%= render '/shared/flash' %>

  <%= render '/shared/footer' %>

  <%= yield %>
</body>

</html>